<% include ../partials/boilerplate %>

<div id="indexContainer">
<div id='item'>

  <h1><%= item.name %></h1>
  <img id='img' src=<%= item.img_url %>>
  <h3 id="singlereview"><%= item.review %></h3>
  <h3><%= item.diet_id %></h3>
  <a id='editSingle'href="/items/<%= data.id %>/edit"> Edit this item </a>
  <form action="/items/<%= data.id %>?_method=Delete" method="Post">
    <input id="deleteSingle" type="Submit" value="Delete"/>
  </form>
  <a id='searchSingle' href='/'>Search Again</a>

</div>
</div>

<% include ../partials/footer %>
