<% include ../partials/boilerplate %>

<div id="wrapper">


  <form id="paper" method='POST' action='/items/<%= data.id %>?_method=PUT'>
  <input name="id" type="hidden" value="<%= data.id %>">

    <div id="margin">Item Name: <input value='<%= data.name %>' type="text" name="name">
    </div>

    <textarea class="textadd" style="overflow: hidden; word-wrap: break-word; resize: none; height: 10%;" rows="10" name='review' type="text" value=>
    <%= data.review %>
    </textarea>

    <div id="imgadd">
    <input name='img_url' type='text' id='addurl' value='<%= data.img_url %>' />
    </div>
    <div id="dietadd">
    <label id="addDiet" for='diet_id'>Diet
        <select name='diet_id' type='text'>
          <option value='1'>Organic</option>
          <option value='2'>Paleo</option>
          <option value='3'>Gluten-Free</option>
          <option value='4'>Vegan</option>
          <option value='5'>Keto</option>
          <option value='6'>GMO</option>
        </select>
      </label></br>
      </div>

    <br>
    <input class="buttonadd" id="addbutton" type="submit" value="Edit it">


  </form>

</div>


<% include ../partials/footer %>


